.certifications {
	// .certifications__cercard
	&__cercard {
	}
	// .certifications__content
	&__content {
	}
}
.cercard {
	// .cercard__row
	&__row {
		display: flex;
		justify-content: flex-start;
		padding: 35px 0 50px 35px;
		background-color: #fafafb;
		background: url(../img/certification/fon_cercard.png) 0 0/100% 100% no-repeat;
	}
	// .cercard__col
	&__col {
	}
	// .cercard__left-col
	&__left-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 188px;
	}
	// .cercard__coastext
	&__coastext {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: $textcolor;
	}
	// .cercard__coast
	&__coast {
		position: relative;
		font-weight: 800;
		font-size: 36px;
		line-height: 44px;
		text-align: center;
		color: #87b0ee;
		padding-bottom: 0.5rem;

		span {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background: #87b0ee;
			top: 49px;
		}
	}
	// .cercard__text
	&__text {
		margin-top: 2.5rem;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: $textcolor;

		span {
			display: block;
			line-height: 24px;
			&:first-child {
				margin-top: 10px;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}
	// .cercard__right-col
	&__right-col {
		margin-left: 75px;
		padding-top: 25px;
	}
	// .cercard__title
	&__title {
		font-weight: 800;
		font-size: 40px;
		line-height: 51px;
		color: $textcolor;
		text-align: left;
		width: 60rem;
		margin-bottom: 2.5rem;
	}
	// .cercard__contenttext
	&__contenttext {
		text-align: left;
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		color: $textcolor;
		width: 48.8rem;
	}
}
.btn {
	// .btn_cer
	&_cer {
	}
}
