.example {
	background-color: $grey;
	padding: 0 10px 7rem;
	&__container {
		position: relative;
	}
	.swiper-container1 {
		max-width: 1024px;
		margin: 0 auto;
		overflow: hidden;
	}
	.swiper-slide {
		img {
			width: 223px;
			height: 306px;
			display: block;
			object-fit: fill;
		}
	}
	.swiper-wrapper {
		display: flex;
		// margin-left: 27.5px;
	}

	.pagetitle {
		// .pagetitle_example
		&_example {
		}
	}

	.swiper-button-next {
		display: block;
		position: absolute;
		top: calc(65% - 39px);
		right: 0;
		cursor: pointer;
	}
	.swiper-button-prev {
		display: block;
		position: absolute;
		top: calc(65% - 39px);
		left: 0;
		cursor: pointer;
	}
}
