.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 6rem;
	// .pagging__arrow
	&__arrow {
	}
	// .pagging__list
	&__list {
		display: flex;
		li {
		}
	}
	// .pagging__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28px;
		height: 28px;
		color: #d0d0d0;
		border: 2px solid #d0d0d0;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		margin: 0 5px;
		&:hover {
			border: 2px solid #87b0ee;
			color: #87b0ee;
			cursor: pointer;
		}
		&._active {
		}
	}
}
